In [28]:
import pandas as pd
import os

csv_file_path = 'C:/users/agnes/Documents/EAGLE/Innovation_Lab/Daten/Sentinel_5P/OFFL_L3_NO2/NO2_DJF_23_24.csv'

# CSV-Datei einlesen
df = pd.read_csv(csv_file_path, dtype={'AGS': str, 'ARS': str})
# Entfernen von NaN und Umwandlung der Spalte in Integer
df['GF'] = pd.to_numeric(df['GF'], errors='coerce')

# Alle Zeilen mit GF == 2 entfernen
df_clean = df[df['GF'] != 2].copy()

# Überprüfen, ob es jetzt funktioniert hat
print(df_clean['GF'].unique())

df_clean = df_clean.dropna(subset=['GF'])


# Umrechnung von mol/m² zu µmol/m²
df_clean['mean_NO2'] = df_clean['mean_NO2'] * 1_000_000

# Nur bestimmte Spalten anzeigen
df_clean = df_clean[['AGS', 'ARS', 'GF', 'GEN', 'BEZ', 'mean_NO2']]

# Extrahiere den Dateinamen ohne die .csv-Erweiterung
csv_filename = os.path.basename(csv_file_path)  # Holen des Dateinamens (mit Extension)
csv_filename_without_ext = os.path.splitext(csv_filename)[0]  # Entfernen der Extension

# Umbenennen der Spalte 'mean_NO2' zu dem Dateinamen
df_clean.rename(columns={'mean_NO2': csv_filename_without_ext}, inplace=True)


# Vorschau anzeigen
df_clean.head()

[4]

     AGS    ARS  GF         GEN               BEZ  NO2_DJF_23_24
0  01001  01001   4   Flensburg  Kreisfreie Stadt      13.703169
2  01002  01002   4        Kiel  Kreisfreie Stadt       5.749211
4  01003  01003   4      Lübeck  Kreisfreie Stadt      15.143479
6  01004  01004   4  Neumünster  Kreisfreie Stadt      -1.775957
7  02000  02000   4     Hamburg  Kreisfreie Stadt      19.541354

In [34]:
import pandas as pd
import os

# Pfad zum Ordner, der die CSV-Dateien enthält
folder_path = 'C:/users/agnes/Documents/EAGLE/Innovation_Lab/Daten/Sentinel_5P/OFFL_L3_NO2/'

# Liste der CSV-Dateien im Ordner
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# DataFrame für die kombinierten Daten erstellen
combined_df = pd.DataFrame()

# Jede CSV-Datei einlesen und die mean_NO2-Werte in einer eigenen Spalte speichern
for csv_file in csv_files:
    # Pfad zur aktuellen Datei
    csv_file_path = os.path.join(folder_path, csv_file)
    
    # CSV-Datei einlesen
    df = pd.read_csv(csv_file_path, dtype={'AGS': str, 'ARS': str})
    
    # Entfernen von NaN-Werten und Umwandlung der Spalte 'GF' in numerisch
    df['GF'] = pd.to_numeric(df['GF'], errors='coerce')
    df_clean = df[df['GF'] != 2].dropna(subset=['GF'])
    
    # Umrechnung von mol/m² zu µmol/m²
    df_clean['mean_NO2'] = df_clean['mean_NO2'] * 1_000_000
    
    # Nur die relevanten Spalten extrahieren und Kopie erstellen
    relevant_columns = ['AGS', 'ARS', 'GF', 'GEN', 'BEZ', 'mean_NO2']
    df_clean_filtered = df_clean[relevant_columns].copy()  # .copy() hinzufügen
    
    # Umbenennen der 'mean_NO2' Spalte zu dem Dateinamen
    csv_filename_without_ext = os.path.splitext(csv_file)[0]  # Dateiname ohne Extension
    df_clean_filtered.rename(columns={'mean_NO2': csv_filename_without_ext}, inplace=True)
    
    # Kombiniere mit dem Haupt-DataFrame
    if combined_df.empty:
        combined_df = df_clean_filtered
    else:
        combined_df = pd.merge(combined_df, df_clean_filtered, on=['AGS', 'ARS', 'GF', 'GEN', 'BEZ'], how='outer')

# Vorschau des kombinierten DataFrames
print(combined_df.head())

# Speichern des kombinierten DataFrames als CSV
combined_df.to_csv('C:/users/agnes/Documents/EAGLE/Innovation_Lab/Daten/Sentinel_5P/OFFL_L3_NO2/combined_mean_NO2_values.csv', index=False)

     AGS    ARS  GF         GEN               BEZ  NO2_DJF_23_24  NO2_JJA_24  \
0  01001  01001   4   Flensburg  Kreisfreie Stadt      13.703169   24.073328
1  01002  01002   4        Kiel  Kreisfreie Stadt       5.749211   27.583841
2  01003  01003   4      Lübeck  Kreisfreie Stadt      15.143479   27.990016
3  01004  01004   4  Neumünster  Kreisfreie Stadt      -1.775957   27.340724
4  02000  02000   4     Hamburg  Kreisfreie Stadt      19.541354   37.620364

   NO2_MAM_24  NO2_SON_24
0   30.634867   37.776449
1   34.607549   40.018888
2   34.900733   43.221958
3   34.706406   41.861804
4   43.483416   53.022393

In [38]:
import pandas as pd
import os

# Pfad zum Ordner, der die CSV-Dateien für O3 enthält
folder_path_o3 = 'C:/users/agnes/Documents/EAGLE/Innovation_Lab/Daten/Sentinel_5P/OFFL_L3_O3/'

# Liste der CSV-Dateien im Ordner für O3
csv_files_o3 = [f for f in os.listdir(folder_path_o3) if f.endswith('.csv')]

# DataFrame für die kombinierten Daten erstellen (für O3)
combined_df_o3 = pd.DataFrame()

# Jede CSV-Datei für O3 einlesen und die mean_O3-Werte in einer eigenen Spalte speichern
for csv_file in csv_files_o3:
    # Pfad zur aktuellen Datei für O3
    csv_file_path_o3 = os.path.join(folder_path_o3, csv_file)
    
    # CSV-Datei einlesen
    df_o3 = pd.read_csv(csv_file_path_o3, dtype={'AGS': str, 'ARS': str})
    
    # Entfernen von NaN-Werten und Umwandlung der Spalte 'GF' in numerisch
    df_o3['GF'] = pd.to_numeric(df_o3['GF'], errors='coerce')
    df_clean_o3 = df_o3[df_o3['GF'] != 2].dropna(subset=['GF'])
    
    # Umrechnung von mol/m² zu µmol/m² für O3
    df_clean_o3['mean_O3'] = df_clean_o3['mean_O3'] * 1_000_000  # Umrechnung für O3
    
    # Nur die relevanten Spalten extrahieren und Kopie erstellen
    relevant_columns_o3 = ['AGS', 'ARS', 'GF', 'GEN', 'BEZ', 'mean_O3']
    df_clean_filtered_o3 = df_clean_o3[relevant_columns_o3].copy()  # .copy() hinzufügen
    
    # Umbenennen der 'mean_O3' Spalte zu dem Dateinamen (Dateiname ohne Extension)
    csv_filename_without_ext_o3 = os.path.splitext(csv_file)[0]  # Dateiname ohne Extension
    df_clean_filtered_o3.rename(columns={'mean_O3': csv_filename_without_ext_o3}, inplace=True)
    
    # Kombiniere mit dem Haupt-DataFrame für O3
    if combined_df_o3.empty:
        combined_df_o3 = df_clean_filtered_o3
    else:
        combined_df_o3 = pd.merge(combined_df_o3, df_clean_filtered_o3, on=['AGS', 'ARS', 'GF', 'GEN', 'BEZ'], how='outer')

# Vorschau des kombinierten DataFrames für O3
print(combined_df_o3.head())

# Speichern des kombinierten DataFrames für O3 als CSV
combined_df_o3.to_csv('C:/users/agnes/Documents/EAGLE/Innovation_Lab/Daten/Sentinel_5P/OFFL_L3_O3/combined_O3_values.csv', index=False)

     AGS    ARS  GF         GEN               BEZ   O3_DJF_23_24  \
0  01001  01001   4   Flensburg  Kreisfreie Stadt  153804.288695
1  01002  01002   4        Kiel  Kreisfreie Stadt  153923.179117
2  01003  01003   4      Lübeck  Kreisfreie Stadt  153782.559337
3  01004  01004   4  Neumünster  Kreisfreie Stadt  153259.319749
4  02000  02000   4     Hamburg  Kreisfreie Stadt  153891.783649

       O3_JJA_24      O3_MAM_24      O3_SON_24
0  156502.127906  172979.179727  130717.162168
1  156026.057762  173403.634372  130741.777009
2  155511.713408  172563.027733  130755.866361
3  155476.712327  173359.994090  130883.445235
4  155143.939721  172072.659375  130675.442379

In [37]:
import pandas as pd
import os

# Pfad zum Ordner, der die CSV-Dateien für SO2 enthält
folder_path_so2 = 'C:/users/agnes/Documents/EAGLE/Innovation_Lab/Daten/Sentinel_5P/OFFL_L3_SO2/'

# Liste der CSV-Dateien im Ordner für SO2
csv_files_so2 = [f for f in os.listdir(folder_path_so2) if f.endswith('.csv')]

# DataFrame für die kombinierten Daten erstellen (für SO2)
combined_df_so2 = pd.DataFrame()

# Jede CSV-Datei für SO2 einlesen und die mean_SO2-Werte in einer eigenen Spalte speichern
for csv_file in csv_files_so2:
    # Pfad zur aktuellen Datei für SO2
    csv_file_path_so2 = os.path.join(folder_path_so2, csv_file)
    
    # CSV-Datei einlesen
    df_so2 = pd.read_csv(csv_file_path_so2, dtype={'AGS': str, 'ARS': str})
    
    # Entfernen von NaN-Werten und Umwandlung der Spalte 'GF' in numerisch
    df_so2['GF'] = pd.to_numeric(df_so2['GF'], errors='coerce')
    df_clean_so2 = df_so2[df_so2['GF'] != 2].dropna(subset=['GF'])
    
    # Umrechnung von mol/m² zu µmol/m² für SO2
    df_clean_so2['mean_SO2'] = df_clean_so2['mean_SO2'] * 1_000_000  # Umrechnung für SO2
    
    # Nur die relevanten Spalten extrahieren und Kopie erstellen
    relevant_columns_so2 = ['AGS', 'ARS', 'GF', 'GEN', 'BEZ', 'mean_SO2']
    df_clean_filtered_so2 = df_clean_so2[relevant_columns_so2].copy()  # .copy() hinzufügen
    
    # Umbenennen der 'mean_SO2' Spalte zu dem Dateinamen (Dateiname ohne Extension)
    csv_filename_without_ext_so2 = os.path.splitext(csv_file)[0]  # Dateiname ohne Extension
    df_clean_filtered_so2.rename(columns={'mean_SO2': csv_filename_without_ext_so2}, inplace=True)
    
    # Kombiniere mit dem Haupt-DataFrame für SO2
    if combined_df_so2.empty:
        combined_df_so2 = df_clean_filtered_so2
    else:
        combined_df_so2 = pd.merge(combined_df_so2, df_clean_filtered_so2, on=['AGS', 'ARS', 'GF', 'GEN', 'BEZ'], how='outer')

# Vorschau des kombinierten DataFrames für SO2
print(combined_df_so2.head())

# Speichern des kombinierten DataFrames für SO2 als CSV
combined_df_so2.to_csv('C:/users/agnes/Documents/EAGLE/Innovation_Lab/Daten/Sentinel_5P/OFFL_L3_SO2/combined_SO2_values.csv', index=False)

     AGS    ARS  GF         GEN               BEZ  SO2_DJF_23_24  SO2_JJA_24  \
0  01001  01001   4   Flensburg  Kreisfreie Stadt            NaN   38.659569
1  01002  01002   4        Kiel  Kreisfreie Stadt            NaN   57.197799
2  01003  01003   4      Lübeck  Kreisfreie Stadt            NaN    9.362357
3  01004  01004   4  Neumünster  Kreisfreie Stadt            NaN   49.300844
4  02000  02000   4     Hamburg  Kreisfreie Stadt            NaN   77.278275

   SO2_MAM_24  SO2_SON_24
0   97.862457  176.966390
1  217.604432  196.513375
2  163.338668  200.730092
3  133.520013   71.778534
4  161.935279  141.791236